body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color: rgba(128, 128, 128, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#spacing {
  padding-top: 40px;
}
#spacing-bottom {
  padding-top: 60px;
}

#cardapp {
  padding-top: 34px;
  padding-bottom: 20px;
  background-color: var(--color);
  width: 550px;
  border-radius: 20px;
}
#centerapp {
  /*
  background-color: cadetblue;*/
  background-image: url("../public/images/Empty.png");
  background-size: cover;
  width: 100%;
}
.form-group {
  padding-top: 10px;
  width: 60vh;
}

#label {
  background-color: rgba(105, 105, 105, 0);
  font-size: 17px;
  color: rgba(255, 255, 255, 0.7);
}
span {
  color: #a01d30;
}
@media only screen and (max-width: 768px) {
  * {
    max-width: 100%;
  }

  #cardapp {
    width: 300px;
  }
  #f {
    width: 250px;
  }
  #spacing-bottom {
    padding-top: 100px;
  }
  #centerapp {
    background-image: url("../public/images/EmptyPhone.png");
    background-size: cover;
    background-position: center;
  }
}
