body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#spacing {
  padding-top: 70px;
}

#cardapp {
  padding-top: 34px;
  padding-bottom: 20px;
  background-color: var(--color);
  width: 680px;
  border-radius: 20px;
}
#centerapp {
  background-color: cadetblue;
  width: 100%;
  height: 120vh;
}
.form-group {
  padding-top: 10px;
  width: 70vh;
}
#label {
  background-color: var(--color);
}
span{
  color: #a01d30;
}
@media only screen and (max-width: 768px){
  *{
    max-width:100%
  }

#cardapp{
  width: 350px;

}
#f{
  width: 300px;
}}